<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IPL Team Management</a>
    <button class="btn btn-outline-light" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Chennai Super Kings</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Mumbai Indians</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Royal Challengers Bangalore</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Kolkata Knight Riders</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Rajasthan Royals</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title">Punjab Kings</h5>
        </div>
      </div>
    </div>
  </div>
</div>
